pyyaml~=5.4.1
websocket-client==1.2.1
pandas~=1.2.1
pika~=1.2.0
sortedcontainers~=2.4.0
numpy~=1.19.2
matplotlib~=3.4.2
plotly~=5.3.1
scikit-learn~=1.0.1
statsmodels~=0.13.1
keras~=2.4.0
tensorflow~=2.7.0
