.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body { 
  height: 100%;
  color:#5a5900;
  background-color:rgb(254, 255, 244);
}
.App-header {
  justify-content: center;
  font-family: cursive, sans-serif;
  font-size:2em;
  font-weight: bold;
  padding: 20px;
  background-color: rgb(222 220 131)
}

header {
  text-align: center; 
  font-weight: bold;
}

Main{
  display: flex;

}
.panel{
  margin:0.5em;
  padding:0.5em 1.5em 0.5em 1.5em;
  border-style: dotted;
  border-width: 1px;
  background-color:rgb(252, 251, 216);
  border-radius: 5px;
}
.panel header{
  padding-bottom:0.7em;
}

.trade-account li{
  list-style-type:none;
}

input {
  margin:0.5em
}
button {
  margin:0.2em;
  margin-left: 1em;
  padding: 0.2em 1em 0.2em 1em;
  background-color:#5a5900;
  color: #f5e8b0;
  border-radius: 5px;

}

