/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    /* color:#5a5900; */

    color:#5a5900;
    
    background-color:rgb(254, 255, 244);

    /* color:rgb(58, 51, 1); */
 }
header {
    text-align: center;
    font-family: cursive, sans-serif;
    font-size:2em;
    font-weight: bold;
    padding: 20px;
    /* background-color:rgb(252, 251, 216); */

    background-color:rgb(252, 251, 216);
}

/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
